<div class="mainUserInfoBanner">
            <img class="circularSquare" src=<%= user[:profile_url] %> alt="..."/>
            <div class="userInfo">
                <h1><%= user[:first_name] %> <%= user[:last_name] %></h1>
                <p>Total Hours: <%= user[:total_hours] %></p>
            </div>
</div>