
.schoolRow {
    background-color: #f57914;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.schoolExpandedContent {
    background-color: lightgray;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.programTile {
    background-color: #e6203a;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
