
.programsPage {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.programTile {
    background-color: #e6203a;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
